<!Doctype html>
<html lang="en">
{{template "html_head" .}}
<body>
  {{template "nav" .}}
  <main role="main" class="container">
    <div class="container">
      <div id="card-container" class="row mb-3" style="overflow: auto; max-height: 300px;">
        {{template "user_cards" .}}
      </div>

    {{template "chat" .}}
    </div>
  </main><!-- /.container -->
  <script src="/assets/js/lobby.js"></script>
  <script src="/assets/js/chat.js"></script>
  <div id="modal-container"></div>
</body>

</html>